<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="group.zerry.api_server.dao.LabelDao">
 	<resultMap id="CountMap" type="Count">
		<result property="number" column="number" />
	</resultMap>
	
	<resultMap id="LabbelMap" type="Label">
		<result property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
	<resultMap id="LabelHeatMap" type="LabelHeat">
		<result property="label_id" column="id" />
		<result property="times" column="times" />
	</resultMap>
	
 	<select id="judgeIfLabelExists" resultType="Count">
 		SELECT
			count(id) as number
		from
			label_inf
		where
			name = #{name}	
 	</select>
 	
 	<select id="searchLabelIDByMsgId" resultType="int">
 		SELECT
			label_id
		FROM
			message_inf
		WHERE
			id = #{id}
 	</select>
 	
 	<select id="showLabelNameById" resultType="string">
 		SELECT
			NAME
		FROM
			label_inf
		WHERE
			id = #{id}
 	</select>
 	
 	<select id="showSubscribedLabels" resultType="Label">
 		SELECT
			label_inf.id AS id,
			label_inf. NAME AS NAME
		FROM
			usr_lbl_relation,
			label_inf,
			user_inf
		WHERE
			user_inf.username = #{username}
		AND usr_lbl_relation.usr_id = user_inf.id
		AND label_inf.id = usr_lbl_relation.lbl_id
 	</select>
 	
 	<select id="searchLabelNameById" resultType="string">
 		SELECT
			name
		FROM
			label_inf
		WHERE
			id = #{id}
 	</select>
 	
 	<select id="searchLabelIdByName" resultType="int">
 		SELECT
			id
		FROM
			label_inf
		WHERE
			name = #{name}
 	</select>
 	
 	<select id="selectLabelHeat" resultType="LabelHeat">
	 	SELECT
			label_id,
			times,
			name
		FROM
			label_heat,
			label_inf
		WHERE
			user_id = #{id}
			AND label_id = id
 	</select>
 	
 	<select id="selectTotalLabelHeat" resultType="int">
 		SELECT
			sum(times)
		FROM
			label_heat
		WHERE
			user_id = #{id}
 	</select>
 	
 	<!--  有条件算法改成按照每时段标签关系变化而定  -->
 	<select id="showRelatedLabels" resultType="Label">
	 	SELECT
			label_id as id,
			count(label_id) AS c,
			label_inf. NAME
		FROM
			msg_lbl_relation,
			label_inf
		WHERE
			msg_id IN (
				SELECT
					msg_id
				FROM
					msg_lbl_relation
				WHERE
					label_id = #{id}
			)
		AND label_id != #{id}
		AND label_inf.id = label_id
		GROUP BY
			label_id
		ORDER BY
			c DESC
		limit 0, 5
 	</select>
 	
 	<insert id="addLabel">
 		INSERT INTO msg_lbl_relation
 		VALUES
 		    (#{0}, #{1})
 	</insert>
 	
 	<insert id="addUsrLblRelation">
 		INSERT INTO usr_lbl_relation
		VALUES
			(
				(
					SELECT
						id
					FROM
						user_inf
					WHERE
						username = #{0}
				),
				#{1}
			)
 	</insert>
 	
 	<delete id="deleteUsrLblRelation">
 		DELETE
		FROM
			usr_lbl_relation
		WHERE
			usr_id = (
				SELECT
					id
				FROM
					user_inf
				WHERE
					username = #{0}
			)
		AND lbl_id = #{1}
 	</delete>
 	
 	<update id="updateLabelHeatById">
 		INSERT INTO label_heat
		VALUES
			(#{0}, #{1}, 1) ON DUPLICATE KEY UPDATE times = times + 1	
 	</update>
 	
 	<insert id="insertNewLabel">
 		INSERT INTO label_inf (NAME)
		VALUES
			(#{name})	
 	</insert>
 </mapper>